# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.


#API call
1. table Api = "http://192.168.79.2:30029/dynamic-object/v1/sobjects/student"
2.billing Api = "https://69d612f81c120e733ccd8dc2.mockapi.io/mainprojectapi/userinfo"

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
