/* _variables.scss */
:root {
  --border-radius: 12px;
  --border-radius-sm: 10px;
  
  /* Layout */
  --sidebar-width: 250px;
  --header-height: 80px;

  /* Typography */
  --font-family: 'Poppins', sans-serif;
}
